<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".mode.mbct.MbctDeviceInfoActivity"
            android:exported="false" />
        <activity
            android:name=".mode.mbct.MbctAccountActivity"
            android:exported="false" />
        <activity
            android:name=".mode.mbct.MbctDataCenterActivity"
            android:exported="false" />
        <activity
            android:name=".mode.mbct.MbctHomeActivity"
            android:exported="false" />
        <activity
            android:name=".mode.mbct.MbctRegisterActivity"
            android:exported="false" />
        <activity
            android:name=".mode.mbct.MbctLoginActivity"
            android:exported="false" />
        <activity
            android:name=".mode.mbct.MbctCourseListActivity"
            android:exported="false" />
        <activity
            android:name=".mode.mbct.MbctSessionActivity"
            android:exported="false" />
        <activity
            android:name=".mode.mbct.MbctPrepareActivity"
            android:exported="false" />
    </application>

</manifest>
